- title "Editing #{@page.name}"
%h1= title
%form{:method => 'POST', :action => "/#{@page.class.name.split('::').last.downcase}s/#{@page.name.split('/').last}"}
  %p
    %textarea{:name => 'body', :rows => 30, :style => "width: 100%"}= @page.content
  %p
    %input.submit{:type => :submit, :value => "Save as the newest version"}
    or
    %a.cancel{:href=>"/#{@page.name}"} cancel
